/* General */
* {
  padding: 0;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
}
/* Personalized */
.centerM {
  display: flex;
  justify-content: center;
}
.spaceM {
  padding: 20px;
}
.paragraph {
  inline-size: auto;
  text-overflow: wrap;
  line-height: 2rem;
  padding-right: 3rem;
}
/* INFO */
.icon {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 30px;
}
.infoCard {
  background-color: #161619;
  color: #ffffff;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.siteLink {
  text-decoration: none;
  font-size: large;
  padding: 10px;
}
/* ABOUT */
.aboutCard {
  display: flex;
  flex-direction: column;
  background-color: #1a1b21;
  color: #ffffff;
  width: 100%;
  padding-left: 15%;
}
/* INTERESTS */
.interestsCard {
  display: flex;
  flex-direction: column;
  background-color: #1a1b21;
  color: #ffffff;
  width: 100%;
  padding-left: 15%;
}
/* FOOTER */
.footerCard {
  display: flex;
  flex-direction: column;
  background-color: #161619;
  color: #ffffff;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.socialButtons {
  display: flex;
  justify-content: space-around;
}
